h1 {
  font-size: 2em;
  margin-bottom: 2vh;
  text-transform: uppercase;
}

h2 {
  font-size: 1.6em;
  margin-bottom: 1.6vh;
}

h3 {
  font-size: 1.4em;
  margin-bottom: 1vh;
}

h4 {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 0.7vh;
}
