table {
  border: solid 2px $primaryColor;
  width: 100%;

  thead {
    @include dark();
    background: $dimmedColor;
    color: #000;
  }

  td, th {
    text-align: left;
    padding: 10px;
    border-bottom: solid 2px $dimmedColor;
  }

  tr:last-of-type {
    td, th {
      border: none;
    }
  }
}
